:host{
  width: 100vw;
}
.nav{
    display: flex;
    gap: 20px;
    width: 100vw;
    height: 60px;
    background: linear-gradient(to right, #c471f5, #fa71cd);
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow-x: hidden;
}
.navbtn{
    border-radius: 10px;
    height: 35px;
align-items: center;
background-color: #ffffff00;
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
  border: 0;
  border-radius: 8px;
  color:  #3f3f3f;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  min-width: 105px;
  padding-left: 13px;
  padding-right: 13px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}


.navbtn:active,
.navbtn:hover {
  background-color: #50000031;
  color:  #ffffff;
}
