<!-- <app-navbar></app-navbar> -->
<app-signup></app-signup>
<!-- <div>
    <app-notes class="star" [title]="'Adwait Dash'" [description]="'I am in class 10'" [date]="'24/11/23'" (click)="onSav($event)" [clasname]="'red'"></app-notes>
    <app-notes class="star" [title]="'Manoj  Dash'" [description]="'I am a expert doctor'" [date]="'24/11/23'" (click)="onSave()"></app-notes>
    <app-notes class="star" [title]="'Swatismita Pani'" [description]="'I am a house queen'" [date]="'24/11/23'" (click)="onSave()" [clasname]="'aqua'"></app-notes>
</div> -->
<!-- 
<app-about></app-about> -->