
#profile-image{
    border-radius: 350px;
    width: 350px;
height: 350px;
    
}
#hello{
    padding-top: 7vh;
}
.content-box{
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 1.2vh;

}
span{
    margin-top: 5vh;
}
.contet-box{
    display: flex;
    flex-direction: column;
}
.italic{
    color: #000;
font-family: Sarabun;
font-size: 34px;
font-style: italic;
font-weight: 275;
line-height: normal;
}
.strong{
    color: #000;
    font-family: Sansita;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
.center{
    justify-content: center;
    align-items: center;
    display: flex;
}
.indica{
    padding-top: 7.2vh;
}
.edit-btn{
margin-top: 5vh;
border-radius: 43px;
background: #4681f4;
opacity: 0.85;
width: 332px;
height: 75px;
border: none;
color: #ffffff;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer; 
}
.edit-btn:hover{
opacity: 1;
transition: all 0.3s
}