#profile-image{
    border-radius:  8vw; 
    width: 8vw;
    height: 8vw;
    image-rendering: crisp-edges;
    
}
#content-box{
    width: 17vw;
    display: flex;
    flex-direction: column;

}
#box{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}