

     <div id="box">
        <div class="content-box center">
            <div id="hello">
                
                <img id="profile-image" src="./../../../assets/Wildlife26.jpg">
            </div>
            <div class="content-box indica center">
                <div class="contet-box indica">
                    
                    <span><span class="strong">Name: </span> <span class="italic">{{name}}</span></span>
                    <span><span class="strong">Username: </span> <span class="italic"> {{username}}</span></span>
                    <span><span class="strong">Email:  </span> <span class="italic"> {{email}}</span></span>
                </div>
            </div>
    
        </div>
    </div>

        <button class="edit-btn">hello</button>

